.header {
  grid-area: h;
  background-color: rgb(24, 94, 147);
}

.header img {
  width: 40px;
  height: 40px;
}

.items {
  display: flex;
justify-content: center;
  gap: 40px;
padding-top: 25px;
  align-items: center;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}